.Foobartory {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  align-items: center;
  width: 60rem;
  margin: auto;
  background-color: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.Robots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 2rem;
}

.Robots > div:not(:last-child) {
  margin-right: 2rem;
}

.Foobartory > button {
  margin-bottom: 2rem;
}

.Title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: red;
}
