.Foobartory {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  align-items: center;
  width: 60rem;
  margin: auto;
}

.Robots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 2rem;
}

.Robots > div:not(:last-child) {
  margin-right: 2rem;
}

.Foobartory > button {
  margin-bottom: 2rem;
}
